# Python
__pycache__/
*.pyc

# Виртуальное окружение
.venv/

# Логи и личные настройки
logs/
config/settings.json

# Артефакты сборки .exe
build/
dist/
build_resources/
*.spec

# Среды разработки
.idea/
